<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if not is_front_page %}{{ meta.title }} &middot; {% endif %}{{ site_title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if meta.description %}
        <meta name="description" content="{{ meta.description }}">
        {% endif %}
		{% if meta.author %}
        <meta name="author" content="{{ meta.author }}">
        {% endif %}
        {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
        {% endif %}
		
		<!-- rss feed -->
		<link rel="alternate" href="{{ base_url }}/feed" type="application/rss+xml" title="RSS">

		<!-- Le styles -->
		<link rel="stylesheet" href="{{ theme_url }}/asset/css/bootstrap.css">
	    <link rel="stylesheet" href="{{ theme_url }}/asset/css/style.css">	
		<link rel="stylesheet" href="{{ theme_url }}/asset/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ base_url }}/plugins/mcb_TableOfContent/style.css" media="screen,projection,print">
        <link rel="stylesheet" href="{{ base_url }}/plugins/mcb_TableOfContent/print.css" media="print">
        <link rel="stylesheet" href="{{ theme_url }}/asset/css/menu.css">
        <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
        <link rel="stylesheet" href="{{ theme_url }}/asset/css/social-sharing-css.css">
        <link rel="stylesheet" href="{{ theme_url }}/asset/css/kraken-buttons.css">
        <link rel="stylesheet" href="{{ theme_url }}/asset/css/swipe.css">
        
        <!-- Le magic javascripts -->
        <script src="{{ theme_url }}/asset/js/jquery-2.1.0.min.js"></script>
        <script src="{{ base_url }}/plugins/mcb_TableOfContent/code.js"></script>
        <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
        <script src="{{ theme_url }}/asset/js/swipe.js"></script>
        <script type="text/javascript">
           hljs.initHighlightingOnLoad();
           var elem = document.getElementById('slider');
            window.mySwipe = Swipe(elem, {
                              // startSlide: 4,
                              // auto: 3000,
                              // continuous: true,
                              // disableScroll: true,
                              // stopPropagation: true,
                              // callback: function(index, element) {},
                              // transitionEnd: function(index, element) {}
                            });
        </script>
	</head>
	<body>
    {{ mcb_toc_top }}
